@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
    overflow: visible;
  }
  
.rotated-wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    max-height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }