.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 1rem 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #E6E6E6;
}
  
.gnb-logo-svg {
  height: 18px;
  object-fit: contain;
  padding-right: 8rem;
}

/* 가운데 메뉴 */
.navbar-menu {
  display: flex;
  flex: 2;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 0.95rem;
}
  
  .navbar-login {
    flex: 1; /* 오른쪽 버튼 영역 */
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-login .login-btn {
    background-color: #26c6da;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.9rem;
  }